fastapi
uvicorn
python-multipart
pydantic[email]
motor
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
bcrypt
langchain-core
langgraph
langchain-groq
spacy
vaderSentiment
textstat
python-docx
pymongo
requests
